.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.51);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: auto; 
  text-align: center;
}

.login-modal-content {
  background-color: #d7d7d7;
  background-image: linear-gradient(147deg, #d7d7d7 0%, #353535 74%);
  max-width: 90%;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.976);
  position: relative;
  margin-left: 0px;
}

.login-modal-content button  {
  background-color: #14ca87; 
  color: #fff;
  border: none; 
  padding: 4px 10px;
  border-radius: 5px; 
  cursor: pointer; 
}

.login-modal-content button :hover {
  background-color: #19ac76;
}

form {
  display: flexbox;
  width: 300px;
}

form input {
  border-radius: 10px;
  width: 90%;
  height: 25px;
  line-height: 10px;
  margin-top: 10px;
}

form button {
  margin-top: 20px;
}

input[type='checkbox'] {
  display: flex;
  width:50px;
  height:15px;
}

form label{
  margin-left: 20px;
  margin-top: -17.5px;
  padding-bottom: 10px;
  font-size: 12px;
  color: #a5a0a0;
 
}

label {
  display: flex;
  padding-left: 20px;
}

.exit-button {
  position: absolute;
  top: 10px; 
  right: 10px; 
  color: #ffffff; 
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.login-modal-content p {
  color: #a5a0a0;
  font-size: small;
}

.login-modal-content a {
  color: #14ca87;
}

.login-modal-content a:hover {
  color: #19ac76;
}