.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.carousel-item {
  background: black;
  width: 250px;
}

.carousel-image {
  width: 250px;
  height: 150px;
  cursor: pointer;
}

.smaller-image {
  width: 100px;
  height: 75px;
  cursor: pointer;
}

.card {
  align-items: center;
  align-content: center; 
}

.card-overview {
  width: 400px;
  height: 400px; 
}

.card-overview small {
  color: var(--sl-color-neutral-500);
}

.card-overview [slot='footer'] {
  justify-content: space-between;
  align-items: center;
}

.card img {
  width: 400px;
  height: auto;
}
