/* Reset some default browser styles */
html, body, div, p, h5 {
  margin: 0;
  padding: 0;
}

/* Apply a background color to the entire page */
body {
  background:url(../../../public/background2.jpg);
  font-family: Arial, sans-serif;
  line-height: 50px;
}

.login-box {
  width: 250px;
}

/* Center the login form vertically and horizontally */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* Style the login box */
.login-box {
  background:url(../../../public/background1.jpg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style the logo */
.logo {
  width: 100%; /* Adjust the size as needed */
  height: auto;
  margin-bottom: 20px;
}

/* Style the "Welcome" heading */
.welcome-heading {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

/* Style the input fields */
label {
  font-size: 14px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 16px;
}

/* Style the "Continue" button within the form */
form button.continue-button {
  width: auto;
  background-color: #14ca87;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style the "Don't have an account?" text */
.signup-text {
  font-size: 14px;
  margin-top: 12px;
}

/* Add hover effect to buttons */
.continue-button:hover{
  background-color: #077242;
}

/* Style for the divider */
.divider {
  height: 5px; /* Set the height of the divider */
  margin: 50px 0; /* Add margin as needed to control spacing */
}

.logo {
text-align: center;
}

.thank-you-message {
  text-align: center;
}
