/* Variables */
:root {
  --primary-bg-color: #14ca87;
  --secondary-bg-color: #d7d7d7;
  --accent-color: #19ac76;
}

ul{
  list-style-type: none;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.51);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: auto; 
  text-align: center;
}

/* Modal Content */
.modal-content {
  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(147deg, var(--secondary-bg-color) 0%, #353535 74%);
  max-width: 100%;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.976);
  position: relative;
  margin-left: 0px;
}

/* Close Button */
.close-button {
  background-color: var(--primary-bg-color); 
  color: #fff;
  border-radius: 5px; 
  cursor: pointer;
}

.close-button:hover {
  background-color: var(--accent-color);
}

/* Scrollable Content */
.modal-scrollable-content {
  max-height: 80vh; 
  overflow-y: auto;
  overflow-x: hidden; 
  text-wrap: wrap;
  margin-left: -50px;
  padding-right: 5px;
}

/* Search Error */
.search-error p {
  display: flex;
  
  justify-content: center;
}

/* Search Select Input */
.search-select-input {
  margin-left: 40px;
}

.search-select-input input,
.search-select-input select {
  border-radius: 10px;
  height: 25px;
}

/* Search Dialog Image */
.search-dialog-image {
  display: block;
  margin: 0 auto; 
  width: 120px;
  height: 120px;
  max-width: 100%; 
  transition: transform 0.3s; 
  max-height: 250px;
}

/* Zoom Effect on Hover */
.search-dialog-image:hover {
  transform: scale(1.1); /* Adjust the scale factor to control the zoom level */
}

/* Alphabet Buttons */
.alphabet-buttons {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.alphabet-buttons button {
  background-color: var(--primary-bg-color);
  color: white;
  border: none;
  padding: 4px 6px;
  font-size: 14px;
  margin: 2px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 1px;
}

.alphabet-buttons button.selected {
  background-color: var(--accent-color);
}

.lastUpdated-button {
  background-color: var(--primary-bg-color);
  color: #fff;
  border-radius: 5px; 
  cursor: pointer; 
}

.lastUpdated-button:hover {
  background-color: var(--accent-color);
}

/* Genres Buttons */
.genres-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 40px;
}

.genres-buttons button {
  background-color: var(--primary-bg-color);
  color: white;
  border: none;
  padding: 2px 6px;
  font-size: 14px;
  margin: 4px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.genres-buttons button.selected {
  background-color: var(--accent-color);
}

.genres-buttons button:hover {
  background-color: var(--accent-color);
}

/* SeasonInfo.css */
.season-info-dialog {
  /* Add your styling for the overall dialog container */
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.hello-world-message {
  /* Add your styling for the "Hello, World!" message */
  margin-top: 20px;
  text-align: center;
  color: green;
  font-size: 18px;
}
