.card {
  align-items: center;
  align-content: center; 
}

.card-overview {
  width: 250px;
  height: 300px;
  margin-bottom: 100px; 
}

.card-overview small {
  color: var(--sl-color-neutral-500);
}

.card-overview [slot='footer'] {
  justify-content: space-between;
  align-items: center;
}

.card img {
  width: 400px;
  height: 160px;
}
