
.dynamic-carousel sl-carousel-item {
  flex: 10PX;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--sl-font-size-2x-large);
}

.carousel-options {
  padding: 10px;
  text-align: center;
}

.carousel-options button {
  background-color: #14ca87; 
  color: #fff;
  border: none; 
  padding: 4px 10px;
  border-radius: 5px; 
  cursor: pointer; 
}

.carousel-options button:hover {
  background-color: #19ac76; 
}