.Search-bar {
  text-align: center;
}

.Search-bar button {
  background-color: #14ca87; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove button border */
  padding: 3px 20px; /* Add padding to the button */
  border-radius: 5px; /* Add rounded corners to the button */
  cursor: pointer; /* Show a pointer cursor on hover */
}
