.hero-description {
  display: flex;
  text-align: center;
  height: 10vh;
  line-height: 22px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 18px;
}

@media (max-width: 768px) {
  .hero-description {
    display: flex;
    text-align: center;
    line-height: 22px;
    margin-top: 10px;
    height: 30vh;
  }
}