nav {
  background-color: #3333339c;
  padding: 0px 10px 0px 0px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 8vh;
}

.search-button  button  {
  background-color: #14ca87; 
  color: #fff;
  border: none; 
  padding: 4px 10px;
  border-radius: 5px; 
  cursor: pointer; 
  margin-right: 110px;
}

.search-button :hover {
  background-color: #19ac76;
}

.left-content {
  display: flex; 
  align-items: center;
  margin-top: 40px; 
  margin-left: -50px;
  width: 200px;
}

.left-content img {
  width: 100%;
}

.left-content img:hover{
  cursor: pointer;
}

.right-content {
  list-style-type: none;
  padding: 0px 0px;
}
