nav {
  background-color: #3333339c;
  padding: 0px 10px 0px 0px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 8vh;
}

@keyframes back {
  100%{
        background-position: 2000px 0;
  }
}

.search-button  button  {
  background-color: #14ca87; 
  color: #fff;
  border: none; 
  padding: 4px 10px;
  border-radius: 5px; 
  cursor: pointer; 
  margin-right: 110px;
}

.search-button :hover {
  background-color: #19ac76;
}

.left-content {
  display: flex; 
  align-items: center;
  margin-top: 40px; 
  margin-left: -50px;
  width: 200px;
}

.left-content img {
  width: 100%;
}

.left-content img:hover{
  cursor: pointer;
}

.right-content a:hover { 
  background: url('/back.jpg');
  -webkit-background-clip: text;
  background-clip: value;
  color: transparent;
  animation: back 100s linear infinite;
}

.right-content {
  list-style-type: none;
  padding: 0px 0px;
}

.right-content li {
  display: inline-block;
  margin-right: 0px; 
  padding:0px 5px;
}

.right-content a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}
