.PreviewShows ul {
  text-align: center;
  width: 100%;
}

.PreviewShow-display {
  margin-right:40px; 
}

.PreviewShows img {
 width: 200px;
 height: 200px;
}

.PreviewShows button  {
  background-color: #14ca87; 
  color: #fff;
  border: none; 
  padding: 4px 10px;
  border-radius: 5px; 
  cursor: pointer; 
}

.PreviewShows button :hover {
  background-color: #19ac76;
}
