.PreviewSeasons {
  text-align: center;
  width: 100%;
  line-height: 20px;
}

.PreviewSeasons select{
  margin-top: 25px;
}

.PreviewSeasons-SeasonDetails button {
  background-color: #14ca87; 
  color: #fff;
  border: none; 
  padding: 4px 10px;
  border-radius: 5px; 
  cursor: pointer; 
}

.PreviewSeasons-SeasonDetails button:hover {
  background-color: #19ac76;
}

.add-to-favorites {
  background-color: #14ca87; 
  color: #fff;
  border: none; 
  padding: 4px 10px;
  border-radius: 5px; 
  cursor: pointer; 
}

.add-to-favorites:hover {
  background-color: #19ac76;
}

.add-to-favorites.favorited .bi-star-fill {
  color: yellow;
}

.add-to-favorites .bi-star-fill {
  color: white;
}
