.preview-shows ul {
  text-align: center;
  width: 100%;
}

.preview-show-Image img {
  width: 200px;
  height: 200px;
}

.preview-show-display button{
  background-color: #14ca87; 
  color: #fff;
  border: none; 
  padding: 4px 10px;
  margin-top: 5px;
  border-radius: 5px; 
  cursor: pointer;
}

.preview-show-display button:hover {
  background-color: #19ac76;
}

.add-to-favorites {
  background-color: #14ca87; 
  color: #fff;
  border: none; 
  padding: 4px 10px;
  border-radius: 5px; 
  cursor: pointer; 
}

.add-to-favorites:hover {
  background-color: #19ac76;
}

.add-to-favorites.favorited .bi-star-fill {
  color: yellow;
}

.add-to-favorites .bi-star-fill {
  color: white;
}
