.PreviewSeasons{
  width: fit-content;
  height: fit-content;
}

.PreviewSeasons button {
  display: flexbox;
}

.PreviewSeasons img {
  height: 250px;
  width: 250px;
}

.PreviewSeasons-Layout image{
  display:flex;
}

.PreviewSeasons audio{
  padding: 10px;
}