.Search-Bar{
  text-align: center;
}

.Search-Bar input{
  width: 250px;
}

.Search-Bar button {
  background-color: #14ca87; 
  color: #fff;
  border: none; 
  padding: 5px 20px;
  border-radius: 5px; 
  cursor: pointer; 
}

.Search-bar button:hover {
  background-color: #19ac76;
}